
.start-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-color: #ffffff;
 
}


.start-login-wrapper {
  width: 100%;
  max-width: 40em;
  position: relative;
  z-index: 2;

 
}



.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 10rem;
}

.text-container-right {
  display: flex;
  font-size: 1.4em;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  margin-left: 50%;
  align-self: flex-end; 
}

.text-container-left {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  /* gap: 1rem; */
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  margin-top: 6em;
  margin-right: 50%;
  align-self: flex-start; 
}

.button-text{
	font-size: 1.5em;
	margin-top: 6em;
}

.button-tertiary{

	padding: 1em;
	background-color: #75c1f5;
    color: #000;
	text-decoration: none;
	font-size: 1.4em;
	margin-top: 2em;
	margin-bottom: 4em;
	padding-left: 2em;
	padding-right: 2em;

}
.background-wheel {
  position: fixed;
  right: 0;
  top: 15em;
  width: 40em;
  max-width: 140%;
  opacity: 0.5;
  z-index: 1;
  pointer-events: none; 
}
.text-container{
	display: flex;
	flex-direction: column;
}
.how-it-works {
	text-decoration: none;
	font-size: 1.4em;
	
}
.my-pages{
	text-decoration: none;
	font-size: 1.4em;
}