
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-color: #ffffff;
 
}


.login-wrapper {
  width: 100%;
  max-width: 40em;
  position: relative;
  z-index: 2;

 
}

.login-logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 6em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.logo {
  width: 100px;
  height: auto;
}

.text-container h1 {
  font-size: 4em;
  margin: 0;
  font-weight: bold;
  color: #000;
}

.text-container p {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}


.background-wheel {
  position: absolute;
  right: 0em;
  top: 15em;
  width: 40em;
  max-width: 140%;
  opacity: 0.5;
  z-index: 1;
}


form.form {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
}

.form-group {
  display: flex;
  flex-direction: column;
 
}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #222;
  font-size: 1.5em;
}

.input {
  padding: 0.6rem 1rem;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  border-radius: 4px;
  font-size: 1.2rem;
  
  min-width: 15em;
  
}

.error {
  color: #c00;
  font-size: 0.85rem;
  height: 1rem;
  margin-top: 0.2rem;
}

.api-error {
  margin-top: 1rem;
}

.success {
  color: green;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.button {
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.1s;
}

.login-btn {
  padding: 0.6em;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.3em;
  border: none;
  border-radius: 6px;
  background-color:#75c1f5;
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.login-btn:hover {
  background-color: #309dea;
}

.link {
  margin-top: 1rem;
  display: block;
  text-align: center;
  color: #444;
  text-decoration: underline;
  font-size: 0.95rem;
}