.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-color: #ffffff;
 
}


.login-wrapper {
  width: 100%;
  max-width: 40em;
  position: relative;
  z-index: 2;

 
}



.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 3em;
}
.my-page-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page-text{
	font-size: 1.5em;
	margin-bottom: 4em;
}
.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}
.background-wheel {
  position: absolute;
  right: 0;
  top: 15em;
  width: 40em;
  opacity: 0.4;
}
.logout-btn {
	 padding: 0.6em;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.3em;
  border: none;
  border-radius: 6px;
  background-color:#75c1f5;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  color: black;
  margin-top: 2em;
}
.back-home-btn {
  padding: 0.6em;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.3em;
  border: none;
  border-radius: 6px;
  background-color:#75c1f5;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  color: black;
 
}

.back-home-btn:hover {
  background-color: #309dea;
}

.myCar-btn{
	padding: 0.6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.3em;
  border: none;
  border-radius: 6px;
  background-color:#63e435;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  color: black;
}
.settings-btn{
	padding: 0.6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.3em;
  border: none;
  border-radius: 6px;
  background-color:#63e435;
  text-decoration: none;
  cursor: pointer;
  color: black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.button-group{
	display: flex;
	flex-direction: row;
	margin-bottom: 2em;
	z-index: 2;
}