/* === Grundlayout === */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-color: #ffffff;
 
}

/* === Wrapper för login-formulär === */
.start-login-wrapper {
  width: 100%;
  max-width: 40em;
  position: relative;
  z-index: 2;

 
}


/* === Logo-sektion === */
.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 10rem;
}
/* === Bakgrundsbild === */
.background-wheel {
  position: fixed;
  right: 0;
  top: 15em;
  width: 40em;
  max-width: 140%;
  opacity: 0.5;
  z-index: 1;
  pointer-events: none; /* så att den inte stör klick */
}