/* === Grundlayout === */
.start-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-color: #ffffff;
 
}

/* === Wrapper för login-formulär === */
.start-login-wrapper {
  width: 100%;
  max-width: 40em;
  position: relative;
  z-index: 2;

 
}


/* === Logo-sektion === */
.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 10rem;
}

.register-container {
  display: flex;
  gap: 1rem;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  margin-left: 50%;
  align-self: flex-end; /* högerställd */
}

.login-container {
  display: flex;
  gap: 1rem;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  margin-right: 50%;
  align-self: flex-start; /* vänsterställd */
}

.logo {
  width: 100px;
  height: auto;
}

.text-container h1 {
  font-size: 4em;
  margin: 0;
  font-weight: bold;
  color: #000;
}

.text-container p {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

/* === Bakgrundsbild === */
.background-wheel {
  position: fixed;
  right: 0;
  top: 15em;
  width: 40em;
  max-width: 140%;
  opacity: 0.5;
  z-index: 1;
  pointer-events: none; /* så att den inte stör klick */
}