/* === Grundlayout === */
.start-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-color: #ffffff;
 
}


.login-wrapper {
  width: 100%;
  max-width: 40em;
  position: relative;
  z-index: 2;

 
}



.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 10rem;
}

.register-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;
  margin-bottom: 8em;
  margin-left: 40%;
  align-self: flex-end; 
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, #b7d8f2, #84c0f1);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  margin-right: 40%;
  align-self: flex-start; 
}

.logo {
  width: 100px;
  height: auto;
}

.text-container h1 {
  font-size: 4em;
  margin: 0;
  font-weight: bold;
  color: #000;
   
  
}
.welcome-text{
	font-size: 1.4em;
	padding-right: 0.2em;
	text-decoration: none;
	padding-left: 1em;
	
}
.how-it-works {
	text-decoration: none;
	font-size: 1.4em;
	
}

.text-container p {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}


.background-wheel {
  position: fixed;
  right: 0;
  top: 15em;
  width: 40em;
  max-width: 140%;
  opacity: 0.5;
  z-index: 1;
  pointer-events: none; 
}